/* bulma framework import */
@import 'bulma/css/bulma.css';

/*useful custom styling */
html {
  background-color: lightpink;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  display: flexbox;
  padding: 15px;
}

nav ul li a {
  color: black;
}

nav ul li a:hover {
  color: lightcoral;
}

#link-buttons {
  width: 200px;
  display: grid;
}

.background {
  background-color: lightpink;
}

/**Mobile Responsiveness Button**/
#mobile-button {
  display: none;
}

/* responsive styling to help with mobile viewing */
@media only screen and (max-width: 600px) {
  .profile-picture { 
    max-width: 80%;
    height: auto;
    border-radius: 15px;
    border: 10px solid white
  }

  /* nav ul li a {
    font-size: 15px;
    font-weight: bold;
  } */

  #mobile-button {
    display: flex;
    margin-left: 89%;
    margin-top: 4%;
  }

  nav ul {
    display: none;
  }

  #hidden {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
    font-size: 25px;
  }
}

#hamburger-icon {
  color: black;
}

.navbar {
  background-color: lightpink;
}

@media only screen and (min-width: 600px) {
  .profile-picture {
    max-width: 65%;
    height: auto;
    border-radius: 15px;
    border: 10px solid white
  }
}

@media only screen and (min-width: 768px) {
  .profile-picture {
    max-width: 60%;
    height: auto;
    border-radius: 15px;
    border: 10px solid white;
  }

  nav ul li a {
    font-size: 25px;
    font-weight: bold;
  }
}

@media only screen and (min-width: 1200px) {
  .profile-picture {
    max-width: 35%;
    height: auto;
    border-radius: 15px;
    border: 15px solid white
  }

  .secondary-picture {
    max-width: 70%;
    border-radius: 30px;
    border: 15px solid white
  }
}