/* bulma framework import */
@import 'bulma/css/bulma.css';
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500&family=Poppins:ital,wght@0,300;1,900&display=swap');

* {
  font-family: 'Heebo', sans-serif;
}

/*useful custom styling */
html {
  background-color: lightpink;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  display: flexbox;
  padding: 15px;
}

nav ul li a {
  color: black;
}

nav ul li a:hover {
  color: lightcoral;
}

/**Change About Text to Solid Black**/
.about-text {
  color: black;
}

#link-buttons {
  width: 200px;
  display: grid;
}

.background {
  background-color: lightpink;
}

/**Mobile Responsiveness Button aka hamburger**/
#mobile-button {
  display: none;
}

#name-text {
  font-size: 60px;
}

/**CV Download Button**/
#cv-button {
  align-items: center;
  width: 100%;
  margin-top: 5%;
  background-color: lightpink;
  border: 1px solid black;
  border-radius: 3px;
}

#cv-button:hover {
  background-color: lightcoral;
}

#cv-button:focus {
  border: 1px solid black;
}

/**Portfolio Project Links (mapped out links)**/
.project-links {
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
}

.project-links:hover {
  background-color: lightcoral;
  border: 1px solid black;
}

.project-links:focus {
  border: 1px solid black;
}

/**Portfolio Project Image Styling**/
.project-images {
  border: 10px solid rgb(114, 167, 136);
  border-radius: 10px;
}

/**Social Links (GitHub LinkedIn**/
.link-buttons {
  display: flex;
  align-content: center;
  width: 50%;
  margin-left: 25%;
  border: 1px solid black;
  background-color: lightpink;
}

.link-buttons:hover {
  background-color: lightcoral;
  border: 1px solid black;
}

.link-buttons:focus {
  border: 1px solid black;
}

/* responsive styling to help with mobile viewing */
@media only screen and (max-width: 600px) {
  .profile-picture { 
    max-width: 85%;
    height: auto;
    border-radius: 15px;
    border: 10px solid white
  }

  .secondary-picture {
    border: 10px solid white;
    border-radius: 15px;
  }

  .project-images {
    border: 10px solid rgb(114, 167, 136);
    border-radius: 10px;
  }

  .link-buttons {
    display: flex;
    align-content: center;
    width: 80%;
    margin-left: 10%;
  }

  #mobile-button {
    display: flex;
    margin-left: 89%;
    margin-top: 4%;
  }

  nav ul {
    display: none;
  }

  nav ul li {
    padding: 5px;
  }

  #hidden {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
    font-size: 20px;
  }
}

#hamburger-icon {
  color: black;
}

.navbar {
  background-color: lightpink;
}

@media only screen and (min-width: 600px) {
  .profile-picture {
    max-width: 65%;
    height: auto;
    border-radius: 15px;
    border: 10px solid white
  }

  .secondary-picture {
    border: 10px solid white;
    border-radius: 15px;
  }

  .project-images {
    border: 10px solid rgb(114, 167, 136);
    border-radius: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .profile-picture {
    max-width: 60%;
    height: auto;
    border-radius: 15px;
    border: 10px solid white;
  }

  nav ul li a {
    font-size: 25px;
    font-weight: bold;
  }

  .box {
    margin-right: 25px;
  }
}

@media only screen and (min-width: 1200px) {
  .profile-picture {
    max-width: 35%;
    height: auto;
    border-radius: 15px;
    border: 15px solid white
  }

  .secondary-picture {
    max-width: 70%;
    border-radius: 30px;
    border: 15px solid white
  }
}