/* bulma framework import */
@import 'bulma/css/bulma.css';

/*useful custom styling */
html {
  background-color: lightpink;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  display: flexbox;
  padding: 15px;
}

nav ul li a {
  color: black;
}

nav ul li a:hover {
  color: lightcoral;
}

.background {
  background-color: lightpink;
}

/* responsive styling to help with mobile viewing */
@media only screen and (max-width: 600px) {
  .profile-picture { 
    max-width: 80%;
    height: auto;
    border-radius: 15px;
    border: 10px solid white
  }
}

@media only screen and (min-width: 600px) {
  .profile-picture {
    max-width: 65%;
    height: auto;
    border-radius: 15px;
    border: 10px solid white
  }
}

@media only screen and (min-width: 1200px) {
  .profile-picture {
    max-width: 35%;
    height: auto;
    border-radius: 15px;
    border: 15px solid white
  }
}